/*  SITE.css
    --------------------------------
*/

body {
	background: #00073e url(/img/bg.jpg) center center no-repeat;
	background-size: cover;
}

.header {
	transition: 0.6s;
	opacity: 0;
	background: var(--bg-0);
	color: var(--bg-3);
	z-index: -200;
}

.listempty {
	text-align: center;
	display: block;
	padding: 4rem 1rem;
	color: #b71c1c;
}

/* 
   -------------------------------------------------------
            MEDIA QUERY
   ------------------------------------------------------- 
*/
@media only screen and (max-width: 600px) {
}
